<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/script/index.js"></script>
    <link rel="stylesheet" href="/styler.css" />
    <title></title>
  </head>
  <header>
    <section class="header-title">
      <a href="/"><p>Matlaging.no</p></a>
    </section>
    <section class="nav">
      <a href="/recepies">Recepies</a>
      <a href="/cat">Søte Katter</a>
      <a href="/contact">Kontakt oss</a>
    </section>
  </header>
</html>
