<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <header>
    <section class="header-title">
      <a href="/"><h2>Matlaging.no</h2></a>
    </section>
    <section class="nav">
      <a href="/recepies">Recepies</a>
      <a href="/cat">Søte Katter</a>
      <a href="/contact">Kontakt oss</a>
    </section>
  </header>
</html>
