<%- include('./partials/head.ejs') %>
<body>
  <div class="container">
    <section class="mat">
      <h3>Bruno</h3>
      <img src="/img/humanrealistic-cat.webp" alt="bilde" />
    </section>
    <section class="mat">
      <h3>Dyson Airblade 9kJ</h3>
      <img src="/img/Spooky-black-cat.jpg" alt="Bilde av Dyson Airblade 9kJ" />
    </section>
  </div>
</body>
