<%- include('./partials/head.ejs') %>
<body>
  <div class="container">
    <section class="mat">
      <p>Bruno</p>
      <img src="/img/humanrealistic-cat.webp" />
    </section>
    <section class="mat">
      <p>Dyson Airblade 9kJ</p>
      <img src="/img/Spooky-black-cat.jpg"/>
    </section>
  </div>
</body>
