<%- include('./partials/head.ejs') %>
<body>
  <div>
    <section>
      <a href=""><h3>Bruno</h3></a>
      <img src="/img/humanrealistic-cat.webp" alt="bilde" />
    </section>
    <section>
      <a href=""><h3>Dyson Airblade 9kJ</h3></a>
      <img src="/img/Spooky-black-cat.jpg" alt="Bilde av Dyson Airblade 9kJ" />
    </section>
  </div>
</body>
