<%- include('./partials/head.ejs') %>
<body>
  <div>
    <section>
      <p>
        Du kan ikke kontakte oss nå fordi vi vill ikke få meldninger eller folk
        rom ringer oss
      </p>
    </section>
  </div>
</body>
