<%- include('./partials/head.ejs') %>
  <body>
    <div>
      <section>
        <h3>Afrikansk Spaghetti</h3>
        <img src="/img/brown-spaghetti-recipe-main-photo.jpg" alt="bilde" />
      </section>
      <section>
        <h3>Pappa's Glazed Donut</h3>
        <img src="/img/Glazed Donut.webp" alt="">
      </section>
    </div>
  </body>
